.title{
  width: 417px;
  height: 72px;

  /* Heading/Heading2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Typeface */

  color: #060707;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 558px;
}

.subtitle{
  width: 236px;
  height: 27px;
  position: absolute;
  top: 160px;
  left: 620px;
  /* Paragraph/Large */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Typeface */

  color: #060707;

  opacity: 0.4;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.form__input {
  input{
    box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 10px;
  
    width: 355px;
    height: 44px;
  
    /* White/Default
  
    (Default text)
    */
    background: #FFFFFF;
    border-radius: 8px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
	textarea {
		width: 100%;
		padding: 7px 25px;
		color: #343333;
		font-size: 0.8rem;
		background: transparent;
		border: 1px solid rgba(221, 221, 221, 0.171);
		outline: none;
		border-radius: 5px;
    border-color: #343333;
		cursor: pointer;
	}
	margin-bottom: 15px;
	label {
		color: #343333;
		margin-bottom: 10px;
	}
	.upload__input {
		padding: 40px 25px;
	}
}
h1{
  position: absolute;
  left: 72px;
}
@media only screen and (max-width: 576px) {
	.create__item {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    bottom: 2%;

	}
}

.create__item {
  margin-top: 15px;
  position: absolute;
  left: 40%;
  bottom: 2%;
  top: 30%;

}

.upload__field{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;

  
  width: 1130px;
  height: 80px;
  

  /* Light Gray */

  border: 1px dashed #CED4DA;
  border-radius: 10px;
}


$color_1: #bbcada;

.file-upload {
  text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: $color_1;
  }
}


.submit__btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  position: absolute;
  left: 48.93%;
  right: 24.4%;
  top: 61.04%;
  bottom: 36.18%;

  /* Blue */

  background: #2571EA;
  border-radius: 8px;
}

