
.seller-section{
	position: absolute;
	width: 100%;
	height: 459px;
	left: -2459px;
  bottom: 989px;

}
.single__seller-card{
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px 54px;
	gap: 16px;
	width: 300px;

	/* White */

	background: #FFFFFF;
	box-shadow: 4px 4px 80px rgba(173, 173, 173, 0.25);
	border-radius: 60px;
}


.seller__section-title {
	h3 {
		color: #000;
	}
}
.seller__img {
	position: absolute;
	width: 62.4px;
	height: 63px;
	left: 52.8px;
	top: 29px;
}
.seller__content {
	width: 700px;
}

.box{
	padding-left: 50px;
}

@media only screen and (max-width: 992px) {
  .seller__content h6 {
    font-size: 0.8rem !important;
  }
}