.seller-section{
	position: absolute;
	width: 6448px;
	height: 459px;
	left: -2459px;
  bottom: 989px;

}

.seller__section-title {
	h3 {
		color: #000;
	}
}
.seller__img {
	width: 50px;
	height: 180px;
}
.seller__content {
	h6 {
		font-size: 1rem;
		color: #000;
	}
}
@media only screen and (max-width: 292px) {
	.seller__content {
		h6 {
			font-size: 0.8rem !important;
		}
	}
}
